div {
    text-align: center;
   }

body {
  
    height: 250px;
    width: 900px;
    background: url("../image/background.jpg");
    background-repeat: no-repeat;
    
  }

   
  
.center {S
  text-align: center;
}